@import 'bootstrap-sass-3.3.7/assets/stylesheets/_bootstrap.scss';
@import '_slider.scss';

// ----------------------------- variables -----------------------------
$primary-color: rgb(106, 91, 75);

// ----------------------------- fonts -----------------------------
@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
      url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'lato-light';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
        url('../fonts/lato-light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
        url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dancing-script';
    src: url('../fonts/dancingscript-bold-webfont.woff2') format('woff2'),
        url('../fonts/dancingscript-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'playfairdisplay-bold';
  src: url('../fonts/playfairdisplay-black-webfont.woff2') format('woff2'),
      url('../fonts/playfairdisplay-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
$font-regular: "lato-regular";
$font-light: "lato-light";
$font-bold: "lato-bold";
$font-handdrawn: "dancing-script";
$font-serif: "playfairdisplay-bold";

// ----------------------------- transition -----------------------------
$fast-transition: all 0.2s ease-in-out;
$slow-transition: all 0.8s ease-in-out;
.move {
	transition-timing-function: ease-in-out;
	animation-fill-mode: both;
}
.delay-1 { animation-delay: 0.1s; }
.delay-2 { animation-delay: 0.2s; }
.delay-3 { animation-delay: 0.3s; }
.delay-4 { animation-delay: 0.4s; }
.delay-5 { animation-delay: 0.5s; }
.delay-6 { animation-delay: 0.6s; }
.delay-7 { animation-delay: 0.7s; }
.delay-8 { animation-delay: 0.8s; }
.delay-9 { animation-delay: 0.9s; }
.delay-10 { animation-delay: 0.10s; }
.duration-05 { animation-duration: 0.5s; }
.duration-10 { animation-duration: 1.0s; }
.duration-15 { animation-duration: 1.5s; }
.duration-20 { animation-duration: 2.0s; }
.duration-25 { animation-duration: 2.5s; }
.duration-30 { animation-duration: 3.0s; }
.duration-35 { animation-duration: 3.5s; }
.duration-40 { animation-duration: 4.0s; }
.duration-45 { animation-duration: 4.5s; }
.duration-50 { animation-duration: 5.0s; }

@keyframes zoomIn {
  0% { transform: scale(2); }
  100% { transform: scale(1); }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fadeIn { animation-name: fadeIn; }
.fadeInDown { animation-name: fadeInDown; }
.fadeInUp { animation-name: fadeInUp; }
.zoomIn { animation-name: zoomIn; }


body{
	margin: 0 auto;
}
h1,h2{
  color: $primary-color;
  margin: 0;
}
h1{
  font-family: $font-handdrawn;
  font-size: 100px;
}
h2{
  font-family: $font-light;
  font-size: 20px;
  text-transform: uppercase;
}
.background-content{
  background: url('../img/background.jfif');
	background-size: cover;
  background-position: center;
  text-align: center;
}
button:focus {outline:0;}
.home{
  min-height: 100vh;
	/*NAVBAR*/
	.navbar-default{
		background-color: transparent;
		border-color: transparent;
		.navbar-nav{
      float: right;
      a{
        color: $primary-color;
        font-family: $font-light;
        font-size: 16px;
        text-transform: uppercase;
        i{
          font-size: 20px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .navbar-header{
      background-color: #ffffff;
    }
    .navbar-collapse{
      background-color: #ffffff;
      border-bottom-color: $primary-color;
    }
    .navbar-nav{
      float: inherit !important;
    }
  }
  .content-title{
    margin-top: 15%;
    @media (max-width: 514px) {
      margin-top: 30%;
      h1{font-size: 60px;}
      h2{font-size: 16px;}
    }
  }
  .language{
    padding: 40px;
    .spanish{background-image: url('../img/es.svg');}
    .english{ background-image: url('../img/united-states.svg')}
    button{
      background-position: center;
      background-size: contain;
      width: 60px;
      height: 60px;
      margin: 0 14px;
      background-color: transparent;
      border: transparent;
      border-radius: 100%;
     // box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.3);
      &:hover{
        box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.3);
      }
    }
  }
}

.nosotros{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  .content-box{
    background-color: #ffffff;
    padding: 40px;
    width: 38%;
    height: 40%;
    h2{
      margin-bottom: 24px;
      font-family: "Playfair Display", serif;
      font-size: 44px;
      line-height: 45px;
      letter-spacing: 3px;
      font-weight: bold;
      text-transform: inherit;
      opacity: 1;
      @media (max-width: 480px) {
        font-size: 30px;
        line-height: 26px;
      }
    }
    h2, p{text-align: left;}
    p{
      font-family: $font-light;
      color: $primary-color;
      font-size: 16px;
    }
    @media (max-width: 990px) {
      width: 60%;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
  @media (max-width: 600px) {
    min-height: auto;
    border-bottom: 1px solid #e8e6e6;
    @media (max-width: 480px) {
      padding: 40px 24px;
      h2{
        font-size: 24px;
        line-height: 22px;
        letter-spacing: 1.5px;
      }
      p{ font-size: 14px !important; }
    }
  }
}

.wine-tours{
  height: 100vh;
  .carousel-item__title{
    color: $primary-color;
  }
  .carousel-item__description{
    color: $primary-color;
    font-family: $font-light;
    font-size: 16px;
    span{
      margin: 14px 0;
      display: block;
    }
    @media (max-width: 480px) {
      font-size: 14px;
      margin: 12px 0;
    }
  }
  @media (max-width: 480px) {
    height: 82vh;
    position: relative;
    overflow: inherit;
    display: block;
  }
}

.contacto{
  background-color: #fcf8e3;
  margin: 0;
  width: 100%;
  padding: 40px !important;
  position: relative;
  h3{
    margin-bottom: 38px;
    font-family: "Playfair Display", serif;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: inherit;
    opacity: 1;
    color: $primary-color;
  }
  h5{
    margin: 24px 0;
    color: $primary-color;
    font-family: $font-light;
    font-size: 18px;
  }
  .form-check{
    display: flex;
    justify-content: flex-end;
    border: transparent;
    label{
      font-family: $font-light;
      font-size: 16px;
      color: $primary-color;
      font-weight: normal;
      margin-left: 8px;
    }
    .material-icons{
      color: #92C820 !important;
      margin-left: 20px;
      &:hover{
        color: rgb(115, 158, 21) !important;
      }
    }
    @media (max-width: 1200px) {
      justify-content: center;
      margin: 24px 0;
    }
  }
  .btn-primary{
    background-color: #92C820;
    border-color: #92C820;
    float: right;
    width: 120px;
    border-radius: 20px;
    @media (max-width: 640px) {
      width: 100%;
      padding: 10px;
    }
    &:active{
      background-color: rgb(115, 158, 21);
      border-color: rgb(115, 158, 21);
    }
  }
}

footer{
  background-color: $primary-color; 
  padding: 8px;
  p{
    color: #ffffff;
    font-family: $font-light;
    text-align: center;
    margin: 0;
  }
}

